body{
    margin: 3% 5%
}

a.navigation {
    width: 20px;
    height: 15px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

a.active {
    background: rgba(0, 0, 255, 0.5);
    color: white;
}